@import "partials/variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "partials/header.scss";
@import "partials/tooltips.scss";
@import "partials/baseline.scss";
@import "partials/interventions.scss";
@import "partials/graph.scss";
@import "partials/strategise.scss";
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';

html {
  overflow-y: scroll;
  font-size: 14px;
}

.feather.feather-info {
  height: 18px;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  @extend .text-success;
  @extend a.text-success;
  color: darken($success, 10%) !important;
}

.nav-link {
  cursor: pointer;
}

.btn-primary {
  @include button-variant($theme-mint, darken($theme-mint, 10%))
}

.vue-tags-input {
  max-width: 100% !important;
}

.ti-input {
  @extend .form-control;
  height: auto !important;
}

.ti-new-tag-input-wrapper {
  font-size: inherit !important;
}

.ti-tag {
  max-width: 100%;

  .ti-content {
    max-width: calc(100% - 15px);
  }
}

.dropdown-item:active {
  background-color: $gray-200 !important;
}

table {
  th {
    border-top: 0 !important;
  }
}