.baseline {
  .dynamic-form {
    @extend .bg-light;
    @extend .row;

    svg {
      height: 18px;
    }

    > div {
    //  @extend .card;
      @extend .mt-2;
      @extend .pt-2;
      padding: 0;
      margin-left: 1%;
      margin-right: 1%;
      flex: 0 0 31.3333%;
      max-width: 31.33333%;
      width: 100%;

      h3 {
      //  @extend .card-header;
       // @extend .bg-light;
        @extend .h5;
        text-align: center;
      }

      //.col-md-6 {
      //  @extend .my-2;
      //  flex: 0 0 90% !important;
      //  max-width: 90% !important;
      //  margin-left: 5%;
      //  margin-right: 5%;
      //
      //  span.small {
      //    display: none;
      //  }
      //}

      .row {
        margin: 0
      }

      .col-md-6 {
        display: flex;
        max-width: 100%;
        flex: 0 0 100%;

        span.small {
          display: none;
        }
      }

      label {
        @extend .col-7;
        @extend .col-form-label;
        @extend .text-right;
        padding-left: 0;
      }

      input:not(button), select {
        display: flex;
        @extend .col-5;
        @extend .mt-2;
      }
    }

    .documentation {
      text-align: center;
    }
  }
}