.stepper {
  display: flex;
  align-items: center;
}

.step-connector {
  max-width: 100px
}

.step {

  .btn {
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 40px;
  }

  &.active {
    .btn {
      box-shadow: 0 0 0 .3rem $theme-mint !important;
      border: 1px solid darken($theme-mint, 10%);
    }
  }

}
