.strategise {
  .summary {
    tr td:first-child {
      font-weight: 700;
      white-space: nowrap;
    }
    .table-success {
      background-color: #bbf0fb;
    }
    .table-secondary {
      background-color: #e0fae0;
    }
    .table-primary {
      background-color: #dbb8db;
    }
    .table-warning {
      background-color: #f5c6cb;
    }
    .table-danger {
      background-color: #ffe6b8;
    }
    .lds-spin {
      display: block;
    }
  }
  .form {
    .icon-small svg {
      height: 20px;
      width: 20px;
      vertical-align: sub;
    }
  }
}
