.strategise {
  .form {
    .icon-small svg {
      height: 20px;
      width: 20px;
      vertical-align: sub;
    }
  }

  .results {
    .lds-spin {
      display: block;
    }

    .table-irs { background-color: #c080c0 }
    .table-llin-pbo { background-color: #bfffea }
    .table-pyrrole-pbo { background-color: #80b280 }
    .table-irs-llin-pbo { background-color: #ffd280 }
    .table-llin { background-color: #8080ff }
    .table-irs-llin { background-color: #c58080 }
    .table-irs-pyrrole-pbo { background-color: #99e699 }

    .summaryTable {
      tr td:first-child {
        font-weight: 700;
        white-space: nowrap;
      }

      .b-table-row-selected {
        border: solid gray;
      }
    }

    .detailsTable {
      tr td:nth-child(2) {
        white-space: nowrap;
      }

      tr:last-child {
        font-weight: bold;
      }
    }
  }
}
