.gradle
app/static/node_modules
app/static/public/*
!app/static/public/favicon.ico
!app/static/public/resources/
build
app/build
app/uploads
app/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
